.featured-main {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
}

.portfolio-item {
  padding-bottom: 20px;
}

.portfolio-title {
  padding-bottom: 50px;
}

.portfolio-title a {
  font-size: 2rem;
  opacity: 0.9;
}

@media (min-width: 320px) and (max-width: 480px) {
  .portfolio-title {
    padding-bottom: 25px;
  }
}
