.featured-main {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
}

.portfolio-item {
  padding-bottom: 50px;
}

.card-img-overlay {
  top: 50px !important;
  left: 65px !important;
}

.card-text {
  font-size: 4.75rem;
  font-weight: 700;
  color: #fff;
}

#featured-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: -27px;
  margin-left: 4px;
}

#item-title {
  margin: 0;
  padding: 0;
}

.portfolio-title {
  padding-bottom: 50px;
}

.portfolio-title a {
  font-size: 2rem;
  opacity: 0.9;
}

@media (min-width: 320px) and (max-width: 480px) {
  .portfolio-title {
    padding-bottom: 25px;
  }
}
