/* .Hero-container {
  height: 77vh;
  padding-top: 80px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .Hero-container {
    padding-top: 0px;
    height: 668px;
  }
} */

.Home-container {
  margin-left: 75px;
  margin-right: 75px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .Home-container {
    margin-left: 15px;
    margin-right: 15px;
  }
}
