.hero-main {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.hero-main h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.hero-main p {
  font-size: 1.25rem;
}

.about-container {
  width: 75% !important;
  padding-left: 0 !important;
}

.contact-container {
  padding-top: 40px;
}

.contact-container p {
  font-weight: 600;
}

.typist-main {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .about-container {
    width: 100% !important;
  }

  .typist-main {
    font-size: 2.9rem;
  }

  .hero-main p {
    font-size: 1.1rem;
  }
}
